/*==================================================================

BASE FRAMEWORK | MASTER CSS v.1.1
CREATED BY: Nicholas Holloway

===================================================================*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);

/*==================================================================
    FONTS
===================================================================*/

html, body {
    font-family: $font-family;
}

.bg-gold {
    background: $gold;
}

.bg-navy { 
    background: $navy;
}
.bg-lightgrey {
    background: $gray-lighter;
}
.bg-white { 
    background: $white;
}

a {
    @include custTransition (900ms, $easeOutQuint);
}

.type--smaallcaps {
    font-size: calc(18px * .75);
    font-weight: 800;
    text-transform: uppercase;
    color: inherit;
    letter-spacing: calc(18px/18);
}

/*==================================================================
    NAVIGATION 
===================================================================*/

.navbar-list, nav {
    background: $gold;
    border-color: transparent; 
    border-width: 0;
    height: 52px;
    
    ul {
        li {
            a {
                
                letter-spacing: calc(20px/9);
                font-size: calc(18px * .75);
                font-weight: $font-semibold;
                text-transform: uppercase;
                padding: 1.2em;
                
                // Modifiers

                &:hover {
                    color: $white;
                }                   
            }
            
            // Modifiers

            &:hover {
                background: $gold-dark; 
                color: $white;
                @include custTransition (900ms, $easeOutQuint);
            }        
        }
        .sign-up {
            background: $gold-darker;
            a {
                color: $white;
            }
        }
    }
    
    // Child Objects
    
    .logo {
        color: $navy;
        font-weight: $font-bold;
        text-transform: uppercase;
        letter-spacing: calc(10px/10);
        font-size: $font-size-4;
    }
}

nav {
    
    .button-collapse {
        
        float: right;
    }
    
}

.navbar-default {
    
    border: none;

    .navbar-nav {

        li {

            a {
                color: $navy;
            }
        }
    }
    
   .navbar-toggle {
       
       border-color: transparent;
       
       // Modifiers
       
       &:focus, &:hover {
           background: transparent;
       }
       
       .icon-bar {
        background: $navy;   
       }
   }    

}



/*==================================================================
    CONTENT AREAS 
===================================================================*/

section {
    font-family: $font-family;
    padding: $paddingV3x;
    
    //Child Objects
    

    .content--area1 {
        
    }
    .content--area2 {
        color: $white;
    }
    .hero {
        padding: $paddingV5x;
        .hero--content {
            margin: auto;
            text-align: $align-center;
            h1 {
                color: $white;
                font-size: $h1;
                font-weight: 200;
            }
            h2 {
                color: $white;
                font-size: $h2;
                font-weight: 200;
            }            
        }
    }
}
section.newsection {
    
    padding: $nopadding !important;
    
    .title {
            font-smoothing: antialiased;
            -webkit-font-smoothing: antialiased;
            margin-bottom: 1em;
            display: block;
            font-weight: 700;
    }
    .news--list {
        li {
            -webkit-font-smoothing: antialiased;
            display: block;
            margin-bottom: 1.5em;
            padding-bottom: 1.5em;
            border-bottom: solid thin $gray-lighter;
        }
    }
}

//CARD

.card {
    background: $white;
    .card-title {
        font-weight: $font-normal;
    }
    .card-action {
        a {
            color: $gold;
            
            // Modifiers
            
            &:hover {
                color: $gold-dark;
            }                
        }
    }
}

//TIMELINE

.tm-timeline {
    margin: 30px 0 0 0;
    padding: $nopadding;
    list-style: none;
    position: relative;
    
    //Modifiers
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 10px;
        background: $gold;
        left: 20%;
        margin-left: -10px
    }
    
    li {
        position: relative;
        
        .tm--time {
            display: block;
            width: 25%;
            padding-right: 100px;
            position: absolute;
            
            &:nth-child(odd) {
                span {
                    color: $navy;
                }
            }            
            
            span {
                display: block;
                text-align: $align-right;
                
                //Modifiers
                
                &:first-child {
                    font-size: 0.9em;
                    color: #777777;                  
                }
                
                &:last-child {
                    font-size: 2.9em;
                    color: $navy-light;               
                }  
            }
        }

        
        .tm--label {
            margin: 0 0 15px 25%;
            background: $navy;
            color: $white;
            padding: 12px;
            font-size: 1.2em;
            font-weight: $font-light;
            line-height: 1.4;
            position: relative;
            border-radius: 5px;
            
            //Modifiers
            
            &:after {
                right: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-right-color: $navy;
                border-width: 10px;
                top: 10px;                    
            }

            &:nth-child(odd) {
                
                &:after {
                    border-right-color: $navy;
                }
            }            
            
            h2 {
                margin-top: 0px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                font-size: 20px;
                margin: 0;
                padding-bottom: 5px;
                line-height: 26px;                
            }
            
            p {
                font-size: 16px;
                line-height: $font-size-8;
                margin: 10px 0;
                
                .light-text {
                    font-size: 15px;
                    font-weight: 200;
                    line-height: 20px;                    
                }
            }
        }
        
        .tm--icon {
            width: 40px;
            height: 40px;
            font-size: 1.4em;
            line-height: 40px;
            -webkit-font-smoothing: antialiased;
            position: absolute;
            color: #fff;
            background: $navy;
            border-radius: 50%;
            box-shadow: 0 0 0 8px $gold;
            text-align: $align-center;
            left: 20%;
            top: 0;
            margin: 0 0 0 -25px;            
        }
    }
}

//MEDIA QUERIES

@media screen and (max-width: 768px) {
    .hide-on-med-and-down {
        display: block !important;
    }
}

@media screen and (max-width: 767px) {
    .hide-on-med-and-down {
        display: none !important;
    }
}

@media screen and (max-width: 65.375em) {
    
    .tm-timeline {

        li {

            .tm--time {

                span {

                    &:last-child {
                        font-size: 1.5em
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 47.2em) {
    .tm-timeline  {
        
        &:before {
            display: none;
        }
        
        li {
         
            .tm--time {
                width: 100%;
                position: relative;
                padding: 0 0 20px 0;

                span {
                    text-align: $align-left;
                }
            }
            
            .tm--label {
                margin: 0 0 30px 0;
                padding: 1em;
                font-weight: 400;
                font-size: 95%; 
                             
                &:after {
                    right: auto;
                    left: 20px;
                    border-right-color: transparent;
                    border-bottom-color: $navy;
                    top: -20px;                    
                }
                
                &:nth-child(odd) {

                    &:after {
                        border-right-color: transparent;
                        border-bottom-color: #212121;
                    }
                }                   
            }
            
            .tm--icon {
                position: relative;
                float: right;
                left: auto;
                margin: -55px 5px 0 0px
            }            
        }
    }
}




/*==================================================================
    FOOTER 
===================================================================*/

footer {
    padding: $paddingV5x;
}
        