//============================================\\
//========== COLOR SWATCHES OPTIONS ==========\\
//============================================\\

// COLOR Options

$gold:                   #ecac00;
$gold-dark:              darken($gold, 8.5%);
$gold-darker:            darken($gold, 15.5%);
$navy:                   #002144;
$white:                  #fff !important;
$white-darker:           darker($white, 23.5%);
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777   
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #ee

//FONT Options 

$font-family: "Source Sans Pro";

$font-light:        300;
$font-normal:       400;
$font-semibold:     600;
$font-bold:         700;
$font-ultra-bold:   900;

//REM Sizes

$h1: 6rem;
$h2: 2.8rem;
$h3: 2rem;
$h4: 1.12rem;
$h5: 0.7rem;
$h6: 1rem;
    
$font-size-1:	8px;
$font-size-2:	10px;
$font-size-3:	11px;
$font-size-4:	12px;
$font-size-5:	14px;
$font-size-6:	16px;
$font-size-7:	20px;
$font-size-8:	24px;
$font-size-9:	30px;
$font-size-10:	36px;
$font-size-11:	48px;
$font-size-12:	70px;
$font-size-13:	90px;


//============================================\\
//============= PADDING OPTIONS ==============\\
//============================================\\

// 15px
$pt15: 25px 0 0 0;
$pr15: 0 15px 0 0;
$pb15: 0 0 15px 0;
$pl15: 0 0 0 15px;
$pall15: 15px;
$nopadding: 0px;

//REM
$paddingV1x: 1rem 0 1rem 0 !important;
$paddingV3x: 3rem 0 3rem 0 !important;
$paddingV5x: 5rem 0 5rem 0 !important;

//============================================\\
//============= MARGIN OPTIONS ===============\\
//============================================\\

// 15px
$mt15: 15px 0 0 0;
$mr15: 0 15px 0 0;
$mb15: 0 0 15px 0;
$ml15: 0 0 0 15px;
$mall15: 15px;

//============================================\\
//============= ALIGNMENT OPTIONS ============\\
//============================================\\

$align-left: left !important;
$align-center: center !important;
$align-right: right !important;

//============================================\\
//============= MOBILE OPTIONS ===============\\
//============================================\\

$breakpoint-xs:	639px; // uses max-width for mobile
//$breakpoint-sm:	480px;
$breakpoint-sm: 640px;
$breakpoint-xslandscape: 668px;
$breakpoint-md:	940px;
$breakpoint-lg:	1280px;
$breakpoint-smplus:	768px;


//============================================\\
//============= EASING OPTIONS ===============\\
//============================================\\

// Cubic
$easeInCubic    : cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic   : cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic : cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Circ
$easeInCirc     : cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeOutCirc    : cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeInOutCirc  : cubic-bezier(0.785, 0.135, 0.150, 0.860);

// Expo
$easeInExpo     : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOutExpo    : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInOutExpo  : cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Quad
$easeInQuad     : cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutQuad    : cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeInOutQuad  : cubic-bezier(0.455, 0.030, 0.515, 0.955);

// Quart
$easeInQuart    : cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart   : cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart : cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Quint
$easeInQuint    : cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeOutQuint   : cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInOutQuint : cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Sine
$easeInSine     : cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine    : cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine  : cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Back
$easeInBack     : cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutBack    : cubic-bezier(0.175,  0.885, 0.320, 1.275);
$easeInOutBack  : cubic-bezier(0.680, -0.550, 0.265, 1.550);